@use '../../styles/mixin.scss' as *;

.workBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.workBox:nth-of-type(2n) {
  @include mq(lg) {
    flex-direction: row-reverse;
  }
}
.workBoxChild {
  width: 100%;
  @include mq(lg) {
    padding: 1rem;
    width: 50%;
  }
}
.workBoxChild img {
  max-width: 100%;
  height: auto;
}

.workYear {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 1rem;
  color: gray;
}

.workLinks {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.workLinks > dt {
  width: 1.5rem;
}
.workLinks > dd {
  width: calc(100% - 1.5rem);
}
