@use '../../styles/mixin.scss' as *;

.linksListElement {
  display: block;
  list-style-type: none;
  text-align: center;
  letter-spacing: 0.13rem;
  border-top: solid 1px white;
  &:last-of-type {
    border-bottom: solid 1px white;
  }
}

.linksListElementAnchor {
  display: block;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.1s ease-in;
  padding: 10px;
  &:hover {
    opacity: 0.75;
  }
}
.linksListElementAnchorActive {
  color: $yellow;
}
