@use '../styles/mixin' as *;

.eyeCatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC'),
    url('../images/headline-bg/skills.jpg');
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-position: 0;
  background-size: auto, cover;
}

.eyeCatchText {
  color: white;
  text-align: center;
  font-size: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @include mq(lg) {
    font-size: 1.5rem;
  }
}

.eyeCatchLogo {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  @include mq(lg) {
    display: none;
  }
}

.eyeCatchLogoImg {
  width: 100%;
}

.eyeCatchLogoText {
  margin-top: 1rem;
}
